#musicPlayer_liste{
  height: 100%;
  width:100%;
  user-select : none;
  overflow-y:scroll;
}
#musicPlayer_liste::-webkit-scrollbar {
  width: 7px;
}
#musicPlayer_liste::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

#musicbox{
  position: fixed;
  z-index: 4;
  height: 100px;
  width:85%;
  background: #333;
  bottom: 0px;
  right: 0;
  display: flex;
  align-items: center;
}
#playlistbox{
  position: absolute;
  z-index: 1;
  right:10px;
  /*bottom:100px;*/
  width:500px;
  height:80%;
  padding: 10px;
  background:  rgba(40, 40, 40, 0.9);
  margin: left;
  overflow-y: scroll;
  user-select : none;

  bottom:-80%;
}

/*************************************** playlist *****************************************************/

.nb_playlist, .playlist_title{
  /*color:white;*/
  width: 95%;
  text-align: left;
}
.music_title, .playlist_title, .music_header_title, .folder_title{
  width:90%;
  padding: 8px 10px 0px 10px;
  text-align:left;
  /*color:white;*/
  border-bottom: 1px solid rgba(85, 85, 85, 0.439);
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap;
}
.music_title:hover{
  background: #fff;
}
.music_header_title{
  color:grey;
}


/********************************************** player **************************************/

.bp_musicbox{
  position: relative;
  left:10px;
  top:-35px;
}

.bp_play, .bp_previous, .bp_next{
  position: absolute;
  z-index: 5;
  width: 45px;
  height:45px;
  top:7px;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-backgroud-size:100% 100%;
	-o-backgroud-size:100% 100%;
  -webkit-backgroud-size:100% 100%;
}
.bp_play{
  left:60px;
  top:0;
  width: 60px;
  height:60px;
  border: 1px solid grey;
  border-radius: 50%;
  background-image: url(../img/music/play.png);
}
.bp_previous{
  left:0px;
  background-image: url(../img/music/previous.png);
}
.bp_next{
  left:135px;
  background-image: url(../img/music/next.png);
}
.bp_previous:hover{
  background-image: url(../img/music/white_previous.png);
} 
.bp_next:hover{
  background-image: url(../img/music/white_next.png);
}

/************************************* progresbar and data *******************************************************/


#player_progress{
  -webkit-appearance: none;
   appearance: none;
  position: absolute;
  top:0;
  left:10%;
  width: 80%;
  height:3px;
  cursor: pointer;
  background-color:#ccc;
}
/*#player_progress::-webkit-progress-bar { background-color:#d3d3d3; }
#player_progress::-webkit-progress-value { background-color:#006dad; } 
#player_progress::-moz-progress-bar { background-color:#006dad; }*/
#player_progress:hover{
  height: 7px;  
}
#player_titre{
  position: absolute;
  left:230px;
  top: 10px;
  width:50%;
  color:white;
  font-size: 30px;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap;
}
#player_time{
  position:absolute;
  top:10px;
  right:10%;
  color:#006dad;
}
#player_artist,#player_album,#player_year{
  position: absolute;
  bottom:10px;
  width:15%;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap;
  color:#006dad;
}
#player_artist{
  left: 25%;  
}
#player_album{
  left: 42%;
}
#player_year{
  left: 60%;
}
#player_image{
  position: absolute;
  left:-100px;
  bottom:0;
  width:100px;
  height: 100px;
}

/******************************************* volume *************************************************/

#player_volume {
  position: absolute;
  left:20px;
  width: 155px;
  bottom:10px;

  -webkit-appearance: none;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
#player_volume:hover {
  opacity: 1;
}
#player_volume::-webkit-slider-thumb {
  -webkit-appearance: none;
 /* appearance: none;*/
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #006dad;
  cursor: pointer;
}
#player_volume::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #006dad;
  cursor: pointer;
}


/********************************************************************************************/
#player_image_affichage{
  float: left;
  height: 200px;
  width: 200px;
  padding-right:10px; 
}
#player_info_affichage{
  text-align: left;
  width: 100%;
  height: 200px;
  border-bottom: 1px solid rgba(85, 85, 85, 0.439);
  color:#006dad;
}
#player_titre_affichage{
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 25px;
  color: white;
}
#player_titre_affichage, #player_artist_affichage, #player_album_affichage, #player_year_affichage, #player_time_affichage{
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap;
}

/********************************************** playlist bp *********************************************************/

.bp_playlist{
  position:absolute;
  right:100px;
  bottom:20px;
}
.bp_playlist button {
  width: 50px;
  border-radius: 28px 0 0 28px;
  background-color: #006dad;
}
.bp_playlist .info {
  border-radius: 0 28px 28px 0;
}



/***************************************** random bp ***************************************************/


#bp_aleatoire + label > aaaa {
  position: absolute; bottom:20px; right:20px;
  width: 20px;
  height:20px;
  background-color: rgba(250, 250, 250, 0.3);
  border-radius: 50%;
  padding:10px;
  cursor:pointer;
  background-repeat: no-repeat;
	background-size: cover;
	-moz-backgroud-size:90% 90%;
	-o-backgroud-size:90% 90%;
  -webkit-backgroud-size:90% 90%;
  background-image: url(../img/music/random.png);
}
#bp_aleatoire {
  display: none;
}
#bp_aleatoire:checked + label > aaaa {
  background-color: #006dad;
}
